.about {
  &__how-cook, &__team {
    background-color: $gray-lighter;
  }
  &__paralax-question {
    .form {
      &-input {
        &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
          color: $white;
          opacity: 1; /* Firefox */
        }
      }
    }
  }
  .panel-custom .panel-title {
    color: $primary;
  }
  .swiper-container {
    height: 400px;
  }
}