.diet {
  &__parallax {
    &-description {
      font-size: 15px;
    }
    &-price-number {
      font-size: 27px;
    }
  }
}

main.diet__content {
  .recommend-section__message {
    position: relative;
    top: -60px;
    text-align: left;
  }
}